Repository stevekinney/vite-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format, prettier --write

Update boilerplate
  README.md
  index.html
  src/counter.js
Due: npm run lint, npm run format, prettier --write

Update README.md
  README.md
Due: prettier --write

Create style.css
  src/banner.css
  src/counter.css
  src/style.css
Due: none

Switch from pnpm to npm
  .github/actions/checkout-and-setup/action.yml
  .github/workflows/lint-and-test.yml
Due: none

Add a test
  src/index.test.ts
Due: npm run lint, npm run format

Bump ESLint version
  README.md
  package.json
Due: prettier --write

Add some extra files for exercises
  .eslintrc.yml
  README.md
  index.html
  lib/basic-math.js
  lib/string-manipulation.js
  lib/utilities.js
  package-lock.json
  package.json
  src/banner.css
  src/counter.js
  src/counter.test.js
  src/index.test.ts
  src/style.css
Due: npm run lint, npm run format, prettier --write

Update basic-math.js
  lib/basic-math.js
Due: npm run lint, npm run format

Add some content and assets to play around with
  lib/counter.js
  src/content/george.md
  src/content/john.md
  src/content/paul.md
  src/content/ringo.md
  src/logos/javascript.svg
  src/logos/preact.svg
  src/logos/react.svg
  src/logos/svelte.svg
  src/logos/typescript.svg
  src/logos/vite.svg
  src/logos/vue.svg
  src/style.css
Due: npm run lint, npm run format, prettier --write

Add metadata
  src/content/george.md
  src/content/john.md
  src/content/paul.md
  src/content/ringo.md
Due: prettier --write

Update john.md
  src/content/john.md
Due: prettier --write

Add more sample data
  index.html
  src/biographies/george.md
  src/biographies/john.md
  src/biographies/paul.md
  src/biographies/ringo.md
  src/characters/arthas.json
  src/characters/elira.json
  src/characters/gandorf.json
  src/characters/kaela.json
  src/characters/morduk.json
Due: prettier --write

Add ability to generate characters
  src/characters/fun-facts.ts
  src/characters/generate-character.ts
Due: npm run lint, npm run format

Add a function to render a character
  src/characters/render-character.ts
Due: npm run lint, npm run format

Add Vitest
  package-lock.json
  package.json
Due: prettier --write

Render characters to test
  src/characters/render-character.ts
Due: npm run lint, npm run format

Create render-character.test.js
  src/characters/render-character.test.js
Due: npm run lint, npm run format

Update index.html
  index.html
Due: none

Install vite-imagetools
  package-lock.json
  package.json
Due: prettier --write

Get imagetools working
  package-lock.json
  package.json
  src/load-image.js
  vite.config.js
Due: npm run lint, npm run format, prettier --write

Write a Markdown plugin
  index.html
  package-lock.json
  package.json
  src/load-logos.js
  vite.config.js
Due: npm run lint, npm run format, prettier --write

Live coding from start to end of section on templates
  index.html
  package-lock.json
  package.json
  postcss.config.cjs
  src/banner.module.css
  src/banner.ts
  src/counter.css
  src/counter.js
  src/counter.module.css
  src/index.js
  src/postcss.css
  src/sassy.scss
Due: npm run lint, npm run format, prettier --write

Update sassy.scss
  src/sassy.scss
Due: none

Path conditions:
  npm run lint: any of: *.{ts,js}
  npm run format: any of: *.{ts,js}
  prettier --write: any of: *.{json,md}
